@media (min-width: 1024px) {
  .menu-btn {
    display: none;
  }
  .menu {
    position: relative;
    display: inline-block;
    transform: none;
    transition: transform 0.2s;
    padding: 0;
    background: none;
  }
  .navbar-nav {
    flex-direction: initial;
  }
}
