html {
  box-sizing: border-box;
  background-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "montserrat", "Arial", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
}
