:root {
  --color-white: #ffffff;
  --color-black-nav: #000000;
  --color-violet-light: #9d5cd0;
  --color-text-darck: #333333;
  --color-text-grey: #333333;
  --color-violet-darck: #7943a4;
  --color-violet-medium: #c283f3;
}
